/* Your global styles.scss or a component-specific SCSS file */
.app-header {
  background-color: #203265;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  height: 60px;
}

.content {
  flex: 1;
}

/* Additional styling to make it visually appealing */


